@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;   
    font-family: "Rubik";
}
.navbar {
    background-color: #ffffff;
    padding:3%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: #fff;
    text-align: center;
    color:black;
    padding: 12px ;
    font-family: 'Rubik';
    text-decoration: none;
    transition: background-color 0.3s;
    
}

.navbar ul li a:hover {
    background-color: #b0c9f4;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap:1%;
    padding: 2%;
    background-color:#ffffff;


}
.main-txt {
    /* margin */
    padding: 2%;
}

.main-txt h1 {
    font-size: 5em;
    margin-bottom: 1%;
    font-family: 'Rubik', sans-serif;
}

.main-txt p {
    line-height: 2;
    text-align: justify;
    font-size: 1.1em;
}

.button-main {
    margin-top: 2%;
}

.button-main button {
    margin-right: 2%;
    padding: 3%;
    font-size: 1em;
    background-color: #fc5c7d;

    color: white;
    border: none;
    cursor: pointer;
}
.main-img {
    display: flex;
    height:80%;
    width:100%;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}
#bubble{
    position: absolute;
    top:150px;
    right:20px;
    z-index: -1.5;
    height: 70%;
}
@keyframes upDown {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0%);
    }
}
#lawyer {
    height: 100%;
    animation: upDown infinite 3s;
    width:100%;
}

.aboutUs{
    height: 100vh;
    /* width:100%;/ */
    display: flex;
    justify-content: center;
    gap:10%;
    align-items: center;
    flex-direction: row;
    /* margin-left: 5%; */
    padding: 2%;
    /* align-items: center; */
    background-image: url("/images/bg2.png");
    background-size: cover;
}

.aboutDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5%;
    height: 90%;
    border-radius: 3rem;
    /* box-shadow: 5px 5px 8px rgb(40, 39, 39); */
    width: 80%;
    background-color: #F6F9FE; 
  }
  /* .ab-img{

  } */
  .text{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .text h1{
    font-size: 3em;
  }
  .text p{
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.9;
  }
  .law-img{
    display: flex;
    justify-content: center;
    background-color: #333;
    height:20%;
    width:20%;
    align-items: center;
  }
  .rectangle {
    width: 33%; /* Adjust width as needed */
    border-radius: 2rem;
    height: 100%; /* Adjust height as needed */
    background-color: #ebebe8; /* Default background color */
    margin: 10px; /* Adjust margin for spacing */
  }
  
 

/* our works */
.our-works {
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    height:80vh;
    text-align: center;
}

.our-works h1 {
    font-size: 3em;
    margin-bottom: 50px;
    font-family: "Rubik";
    color: #333;
}

.our-works h1 span{
    /* font-family: "Syne Mono"; */

    /* font-family: "Cedarville Cursive", cursive; */

    /* font-size: 1.5em; */
    
}
#cursive{  
    color:#fc5c7d;
}
.services {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:0%;
    height:60%;
    width:90%;

}

.serv {
    background: #fff;
    border-radius: 1rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.386); */
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 220px;
    /* width:100px; */
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s;
}

.serv, .circle:hover {
    transform: scale(1.05);
    filter:grayscale(0%);
    cursor:pointer;
}

.circle {
    width: 140px;
    height: 140px;
    background-color: #F6F9FE;
    border-radius: 50%;
    margin-bottom: 20px;
    filter:contrast(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.serv h2{
    font-size: 1.4em;
    font-family: "Rubik";
}
.serv-text{
    padding:3%;
    color: black;
    border:2px solid rgba(0, 0, 0, 0.35);
}